@model MyNutritionist.Models.Admin

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete your account</h1>

<p>If you submit a request to delete your account, you have 7 days to log into your account again, which will cancel the request for deletion and you will keep all data. Otherwise, after 7 days the account is permanently deleted along with all your data

</p>
<div>

        <form>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>

        </form>
  
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PID" />
        <input type="submit" value="Delete" class="btn btn-primary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
