@using Microsoft.Data.SqlClient;
@model MyNutritionist.Models.Admin

@{
    ViewData["Title"] = "Assign nutritionist";
}

<h1>Assign nutritionist</h1>
<h5>Select a nutritionist</h5>
<br />

<form>
    <ul>
        @{
            // Set up connection string and SQL query
            string connectionString = "Data Source=SQL5110.site4now.net;Initial Catalog=db_a9938d_novabaza;User Id=db_a9938d_novabaza_admin;Password=smarterasp0605";
            string query = "SELECT Name FROM Nutritionist";

            // Connect to the database and execute the query
            using (SqlConnection connection = new SqlConnection(connectionString))
            {
                connection.Open();
                SqlCommand command = new SqlCommand(query, connection);
                SqlDataReader reader = command.ExecuteReader();

                int index = 0; // Index counter

                // Iterate through the data and generate HTML list items with checkboxes
                while (reader.Read())
                {
                    string itemName = reader["Name"].ToString(); // Replace "ColumnName" with the actual column name in your table

                    // Generate list item with checkbox
                    string listItem = $"<li><input type='checkbox' name='selectedItems' value='{index}' /> {itemName}</li>";
                    @Html.Raw(listItem)

                    index++;
                }

                reader.Close();
            }
        }
    </ul>

    <button type="submit">Submit</button>
</form>
 

<div>
    <a asp-action="Edit" asp-route-id="@Model?.PID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
