@model IEnumerable<MyNutritionist.Models.Leaderboard>

@{
    ViewData["Title"] = "Leaderboard";
}

<h1 style="margin-bottom:20px">Leaderboard</h1>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #d3d3d3;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<body>
    <table style="width:70%">
        <thead>
            <tr>
                <th style="width:20%">Rank</th>
                <th style="width:60%">User</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr>
                <td>1.</td>
                <td>User1</td>
                <td>30</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>User2</td>
                <td>20</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>User3</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>

    <script>

    </script>
</body>
