@model MyNutritionist.Models.Nutritionist

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete your account</h1>

<p>
    If you submit a request to delete your account, you have 7 days to log into your account again, which will cancel the request for deletion and you will keep all data. Otherwise, after 7 days the account is permanently deleted along with all your data

</p>
<div>
    <style>
        input[type="text"], input[type="password"] {
            width: 30%;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>

    <form>
        <input type="text" id="username" name="username" placeholder="Username"><br>
        <input type="password" id="password" name="password" placeholder="Password"><br>

    </form>


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-primary" />
    </form>
</div>
