@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .container-box {
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        width: 50%;
        margin: 0 auto;
    }

    .container-box h2 {
        text-align: center;
    }
    .container-box h1 {
        text-align: center;
    }
    .container-box .btn-register {
        text-align: center;
    }
</style>


<div class="row">
        <div class="container-box" style="margin-top: 50px;">
            <h1>@ViewData["Title"]</h1>

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin-top: 20px;">
                    <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" />
                    <label asp-for="Input.Name"></label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin-top: 20px;">
                    <input asp-for="Input.Surname" class="form-control" autocomplete="surname" aria-required="true" />
                    <label asp-for="Input.Surname"></label>
                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin-top: 20px;">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin-top: 20px;">
                    <input asp-for="Input.City" class="form-control" autocomplete="city" aria-required="true" />
                    <label asp-for="Input.City"></label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin-top: 20px;">
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Username"></label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin-top: 20px;">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin-top: 20px;">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            <div class="form-floating" style="margin-top: 20px;">
                <input asp-for="Input.Height" class="form-control" autocomplete="height" aria-required="true" />
                <label asp-for="Input.Height"></label>
                <span asp-validation-for="Input.Height" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin-top: 20px;">
                <input asp-for="Input.Weight" class="form-control" autocomplete="weight" aria-required="true" />
                <label asp-for="Input.Weight"></label>
                <span asp-validation-for="Input.Weight" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin-top: 20px;">
                <input asp-for="Input.Age" class="form-control" autocomplete="age" aria-required="true" />
                <label asp-for="Input.Age"></label>
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>
                <div class="btn-register" style="margin-top: 20px;">
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
                    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
