@model MyNutritionist.Models.PremiumUser

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete your account</h1>

<p>
    Are you sure you want to delete your account? All you date will be lost. To confirm, please enter your username and password.
</p>
<div>
    <style>
        input[type="text"], input[type="password"] {
            width: 30%;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>

    <form>
        <div>
            <label for="username">Username:</label>
        </div>
        <div>
            <input type="text" id="username" name="username" value="">
        </div>
        <div>
            <label for="password">Password:</label>
        </div>
        <div>
            <input type="password" id="password" name="password" value="">
        </div>
    </form>


    <form asp-action="DeleteConfirmed">
        
        <input type="submit" value="Delete" class="btn btn-primary" />
    </form>
</div>
