@model MyNutritionist.Models.PremiumUser

@{
    ViewData["Title"] = "Edit profile";
}

<!DOCTYPE html>
<html>
<head>
    <title>Update Profile</title>
    <style>
        /* CSS for the form section */
        .form-section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .form-column {
            flex: 1;
            margin-right: 20px;
        }

        .form-field {
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 8px;
            width: 100%;
        }

        .rounded-button {
            padding: 10px 20px;
            background-color: #56cc9d;
            color: black;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
            font-size: 16px;
            outline: none;
            border: none;
        }

        /* CSS for the progress section */
        .progress-section {
            margin-bottom: 20px;
        }

        .progress-text {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .progress-bar {
            width: 100%;
            background-color: #f0f0f0;
            border-radius: 10px;
            overflow: hidden;
        }

        .progress-bar-fill {
            background-color: #56cc9d;
            height: 20px;
        }

        /* CSS for the points section */
        .points-section {
            margin-bottom: 20px;
        }

        .points-text {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .points-field {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 8px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>Edit profile</h3>
    <div class="form-section">
        <div class="form-column">
            <input type="text" class="form-field" placeholder="Name">
            <input type="text" class="form-field" placeholder="Surname">
            <input type="email" class="form-field" placeholder="Email">
            <input type="text" class="form-field" placeholder="Username">
            <input type="password" class="form-field" placeholder="Password">
        </div>
        <div class="form-column">
            <input type="text" class="form-field" placeholder="Height">
            <input type="text" class="form-field" placeholder="Weight">
            <input type="text" class="form-field" placeholder="City">
            <input type="number" class="form-field" placeholder="Age">
            <input type="number" class="form-field" placeholder="Card number">
            <button class="rounded-button" style="float: right">Update</button>
        </div>
    </div>
</body>
</html>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
