@model MyNutritionist.Models.RegisteredUser

@{
    ViewData["Title"] = "Log in";
}

<style>
    .container-box {
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        width: 50%;
        margin: 0 auto;
    }

    .container-box h2 {
        text-align: center;
    }
    .container-box h1 {
        text-align: center;
    }
    .container-box .btn-register {
        text-align: center;
    }
</style>



<div class="row">
    <div class="container-box">
    <h1>@ViewData["Title"]</h1>
        <form asp-action="Loginn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <div class="form-group" style="margin-bottom:10px">
                <label asp-for="NutriUsername" class="control-label"></label>
                <input asp-for="NutriUsername" class="form-control" />
                <span asp-validation-for="NutriUsername" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label asp-for="NutriPassword" class="control-label"></label>
                <input asp-for="NutriPassword" class="form-control" />
                <span asp-validation-for="NutriPassword" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
